<h1>Create a director</h1>

<form action="/directors" method="POST">
  <label for="first_name">First Name</label>
  <input id="title" type="text" name="first_name" />

  <br />

  <label for="last_name">Last Name</label>
  <input id="description" type="text" name="last_name" />

  <br />

  <input type="submit" value="Create the director!" />
</form>

<a href="/directors">Cancel</a>
